.collapsable-directory-tree-item:hover > .collapsable-directory-tree-item-body {
	background-color: var(--directory-tree-item-body-background-color);
}

.collapsable-directory-tree-item:hover > .collapsable-directory-tree-item-header {
	background-color: var(--directory-tree-item-header-background-color);
}

.collapsable-directory-tree-item-header .name {
	margin-left: 8px;

	pointer-events: none;
	user-select: none;

	font-family: Montserrat Medium;
	font-weight: 500;
	font-size: medium;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	color: var(--directory-tree-item-text-color);
}

.collapsable-directory-tree-item-header :is(.folder-icon, .collapsable-arrow) {
	flex-shrink: 0;
}

.collapsable-directory-tree-item-header:hover .icon-wrapper {
	opacity: 1;
	pointer-events: all;
	width: fit-content;
}

.collapsable-directory-tree-item-header:hover + .collapsable-directory-tree-item-body {
	background-color: var(--directory-tree-item-body-background-color);
}

.collapsable-directory-tree-item-header .icon-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;

	margin-left: auto;

	opacity: 0;
	pointer-events: none;
	width: 0;
}

.collapsable-directory-tree-item-header .icon-wrapper *.icon {
	fill: var(--directory-tree-item-icon-color);
}

.collapsable-directory-tree-item-header .icon-wrapper *.icon:hover {
	fill: var(--directory-tree-item-icon-hover-color);
}

.collapsable-directory-tree-item-header .collapsable-arrow:hover {
	fill: var(--directory-tree-item-arrow-icon-hover-color);
}

.collapsable-directory-tree-item-header .collapsable-arrow {
	fill: var(--directory-tree-item-arrow-icon-color);
	transition: transform 0.2s;
}

.collapsable-directory-tree-item.collapsed .collapsable-directory-tree-item-header .collapsable-arrow {
	transform: rotate(-90deg);
}

.collapsable-directory-tree-item.collapsed .collapsable-directory-tree-item-body {
	height: 0;
	overflow: hidden;
}

.collapsable-directory-tree-item:not(.collapsed) > .collapsable-directory-tree-item-body {
	padding: 21px 0 0 20px;
	/* padding-left: 20px; */
	/* padding-top: 20px; */

	margin-top: -20px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
