html:has(main[data-theme="light"]) {
	--directory-contents-text-color: rgb(102, 113, 168);
	--directory-contents-hover-text-color: rgb(57, 97, 237);
	--directory-contents-drag-hover-background-color: rgb(235, 240, 254);
	--directory-contents-order-bar-header-text-color: rgb(158, 165, 199);
	--directory-contents-order-bar-header-hover-text-color: rgb(57, 97, 237);
	--directory-contents-background-color: rgb(251, 252, 255);
	--directory-contents-icon-color: rgb(169, 174, 199);
	--directory-contents-icon-hover-color: rgb(57, 97, 237);
	--rounded-container-hover-background-color: rgb(235, 240, 254);
	--dom-background-color: rgb(248, 248, 248);
	--directory-tree-background-color: rgb(255, 255, 255);
	--directory-tree-item-text-color: rgb(102, 113, 168);
	--directory-tree-item-arrow-icon-color: rgb(169, 174, 199);
	--directory-tree-item-arrow-icon-hover-color: rgb(57, 97, 237);
	--directory-tree-item-icon-color: rgb(169, 174, 199);
	--directory-tree-item-icon-hover-color: rgb(57, 97, 237);
	--directory-tree-item-body-background-color: rgb(246, 249, 255);
	--directory-tree-item-header-background-color: rgb(235, 240, 254);
	--context-menu-element-title-color: rgb(102, 113, 168);
	--context-menu-element-hotkey-color: rgb(158, 165, 199);
	--context-menu-element-icon-color: rgb(102, 113, 168);
	--context-menu-element-hover-background-color: rgb(236, 241, 254);
	--context-menu-danger-element-hover-background-color: rgb(255, 240, 241);
	--context-menu-danger-element-hover-title-color: #ff5768;
	--context-menu-danger-element-hover-icon-color: #ff5768;
	--context-menu-danger-element-hover-hotkey-color: #ff5768;
}

html:has(main[data-theme="dark"]) {
}
