.directory-contents-collection {
	position: relative;

	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: max-content;

	background-color: var(--directory-contents-background-color);
	border-radius: 0 25px 25px 0;
	padding: 0 20px;

	display: flex;
	flex-direction: column;
}

.directory-contents-collection.drag-hover {
	background-color: var(--directory-contents-drag-hover-background-color);
}

.directory-contents-collection .directory-contents-container {
	display: grid;

	position: relative;

	width: 100%;
	height: 100%;

	grid-template-columns: inherit;
	grid-auto-rows: inherit;

	padding-bottom: 20px;

	overflow-y: scroll;
}

.directory-contents-collection .directory-contents-container::-webkit-scrollbar {
	display: none;
}
