.directory-content-element {
	grid-column-start: 1;
	grid-column-end: 5;

	display: grid;

	grid-template-columns: inherit;
	grid-auto-flow: column;

	padding: 0;

	z-index: 1;
}

.directory-content-element.selected .name {
	color: var(--directory-contents-hover-text-color);
}

.directory-content-element:not(:last-child) {
	margin-bottom: 2px;
}

.directory-content-element :is(.name, .last-edited, .size) {
	pointer-events: none;
	user-select: none;

	font-family: Montserrat Medium;
	font-weight: 500;
	font-size: medium;

	white-space: nowrap;

	color: var(--directory-contents-text-color);
}

.directory-content-element .wrapper {
	display: flex;
	align-items: center;
	gap: 8px;
}

.directory-content-element .icon-wrapper {
	pointer-events: none;
	opacity: 0;

	display: flex;
	align-items: center;
	justify-content: flex-start;

	grid-column-start: 4;

	height: 40px;
}

.directory-content-element :is(.wrapper, .icon-wrapper) .icon {
	width: 24px;
	height: 24px;

	border-radius: 50%;

	fill: var(--directory-contents-icon-color);
}

.directory-content-element .icon-wrapper .icon:hover {
	fill: var(--directory-contents-icon-hover-color);
}

.directory-content-element.directory-content-folder:is(:hover, .selected) .folder-icon .front {
	display: block;
	width: 76%;
	height: 41.666667%;
	left: calc(8.333333% + calc(var(--border-radius) - 1px));
	top: 41.666667%;
	border-radius: calc(var(--border-radius) - 1px);
	border-bottom-left-radius: 0;
	background-color: #ffca28;
	transform: skewX(-10deg);
	transition: all 0.05s linear;
}

.directory-content-element:is(:hover, .selected) .icon-wrapper {
	opacity: 1;
	pointer-events: all;
}

*[data-first-column="name"] .directory-contents-container .directory-content-element .wrapper {
	grid-column: 1 / 2;
	margin-left: 8px;
}

*[data-first-column="size"] .directory-contents-container .directory-content-element .size {
	grid-column: 1 / 2;
	margin-left: 8px;
}

*[data-first-column="last-edited"] .directory-contents-container .directory-content-element .last-edited {
	grid-column: 1 / 2;
	margin-left: 8px;
}

*[data-first-column="icons"] .directory-contents-container .directory-content-element .icon-wrapper {
	grid-column: 1 / 2;
	margin-left: 8px;
}

*[data-second-column="name"] .directory-contents-container .directory-content-element .wrapper {
	grid-column: 2 / 3;
}

*[data-second-column="size"] .directory-contents-container .directory-content-element .size {
	grid-column: 2 / 3;
}

*[data-second-column="last-edited"] .directory-contents-container .directory-content-element .last-edited {
	grid-column: 2 / 3;
}

*[data-second-column="icons"] .directory-contents-container .directory-content-element .icon-wrapper {
	grid-column: 2 / 3;
}

*[data-third-column="name"] .directory-contents-container .directory-content-element .wrapper {
	grid-column: 3 / 4;
}

*[data-third-column="size"] .directory-contents-container .directory-content-element .size {
	grid-column: 3 / 4;
}

*[data-third-column="last-edited"] .directory-contents-container .directory-content-element .last-edited {
	grid-column: 3 / 4;
}

*[data-third-column="icons"] .directory-contents-container .directory-content-element .icon-wrapper {
	grid-column: 3 / 4;
}

*[data-fourth-column="name"] .directory-contents-container .directory-content-element .wrapper {
	grid-column: 4 / 5;
	margin-right: 15px;
}

*[data-fourth-column="size"] .directory-contents-container .directory-content-element .size {
	grid-column: 4 / 5;
	margin-right: 15px;
}

*[data-fourth-column="last-edited"] .directory-contents-container .directory-content-element .last-edited {
	grid-column: 4 / 5;
	margin-right: 15px;
}

*[data-fourth-column="icons"] .directory-contents-container .directory-content-element .icon-wrapper {
	grid-column: 4 / 5;
	margin-right: 15px;
	justify-content: flex-end;
}
