.directory-content-element {
	height: 40px;

	grid-column-start: 1;
	grid-column-end: 5;

	display: grid;

	grid-template-columns: inherit;
	grid-auto-flow: column;

	padding: 0;

	z-index: 1;
}

.directory-content-element:not(:last-child) {
	margin-bottom: 2px;
}

.directory-content-element :is(.name, .last-edited, .size) {
	pointer-events: none;
	user-select: none;

	font-family: Montserrat Medium;
	font-weight: 500;
	font-size: medium;

	white-space: nowrap;

	color: var(--directory-contents-text-color);
}

.directory-content-element .wrapper {
	display: flex;
	align-items: center;
	gap: 8px;
}

.directory-content-element .icon-wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 8px;

	grid-column-start: 4;
}

.directory-content-element :is(.wrapper, .icon-wrapper) .icon {
	width: 24px;
	height: 24px;

	background-color: blue;
	border-radius: 50%;
}

*[data-first-column="name"] .directory-contents-container .directory-content-element .wrapper {
	grid-column: 1 / 2;
	margin-left: 8px;
}

*[data-first-column="size"] .directory-contents-container .directory-content-element .size {
	grid-column: 1 / 2;
	margin-left: 8px;
}

*[data-first-column="last-edited"] .directory-contents-container .directory-content-element .last-edited {
	grid-column: 1 / 2;
	margin-left: 8px;
}

*[data-first-column="icons"] .directory-contents-container .directory-content-element .icon-wrapper {
	grid-column: 1 / 2;
	margin-left: 8px;
}

*[data-second-column="name"] .directory-contents-container .directory-content-element .wrapper {
	grid-column: 2 / 3;
}

*[data-second-column="size"] .directory-contents-container .directory-content-element .size {
	grid-column: 2 / 3;
}

*[data-second-column="last-edited"] .directory-contents-container .directory-content-element .last-edited {
	grid-column: 2 / 3;
}

*[data-second-column="icons"] .directory-contents-container .directory-content-element .icon-wrapper {
	grid-column: 2 / 3;
}

*[data-third-column="name"] .directory-contents-container .directory-content-element .wrapper {
	grid-column: 3 / 4;
}

*[data-third-column="size"] .directory-contents-container .directory-content-element .size {
	grid-column: 3 / 4;
}

*[data-third-column="last-edited"] .directory-contents-container .directory-content-element .last-edited {
	grid-column: 3 / 4;
}

*[data-third-column="icons"] .directory-contents-container .directory-content-element .icon-wrapper {
	grid-column: 3 / 4;
}

*[data-fourth-column="name"] .directory-contents-container .directory-content-element .wrapper {
	grid-column: 4 / 5;
	margin-right: 15px;
}

*[data-fourth-column="size"] .directory-contents-container .directory-content-element .size {
	grid-column: 4 / 5;
	margin-right: 15px;
}

*[data-fourth-column="last-edited"] .directory-contents-container .directory-content-element .last-edited {
	grid-column: 4 / 5;
	margin-right: 15px;
}

*[data-fourth-column="icons"] .directory-contents-container .directory-content-element .icon-wrapper {
	grid-column: 4 / 5;
	margin-right: 15px;
	justify-content: flex-end;
}
