.rounded-container {
	position: relative;

	width: 100%;
	height: fit-content;

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 5px 10px;

	background-color: rgb(235, 240, 254);

	border-radius: 8px;
}

.rounded-container * {
	width: fit-content;
}
