.rounded-container {
	position: relative;

	width: 100%;
	height: fit-content;

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 0 15px 0 8px;

	border-radius: 15px;
}

.rounded-container:hover {
	cursor: pointer;

	background-color: var(--rounded-container-hover-background-color);
}
