@import "./mixins/folder-icon.scss";
@import "./mixins/file-icon.scss";

#directory-contents {
	position: relative;

	width: 40vw;
	height: 80vh;

	background-color: rgb(251, 252, 255);
	border-radius: 0 25px 25px 0;
	padding: 20px;

	overflow-y: scroll;

	#contents {
		&.empty::after {
			position: absolute;

			width: calc(100% - 2 * 20px);
			height: 20px;
			top: 100px;

			content: "This folder is empty.";

			font-family: Montserrat Medium;
			font-size: large;
			text-align: center;
			color: rgb(102, 113, 168);
		}
	}

	&.drag-hover {
		background-color: rgb(235, 240, 254);

		*.folder-icon.icon {
			@include folder-icon-closed(rgb(235, 240, 254));
		}

		*.file-icon.icon {
			@include file-icon(red, rgb(235, 240, 254));
		}
	}
}
