@import "./mixins/file-icon";

.element.file {
	&:hover {
		.file-icon {
			@include file-icon(red, rgb(235, 240, 254));
		}
	}

	> *:not(.icons) {
		pointer-events: none;
	}

	.size {
		font-family: Montserrat Medium;
		font-weight: 500;

		cursor: default;

		text-align: right;
		width: 60px;

		user-select: none;
		color: rgb(169, 174, 199);
	}

	.file-icon {
		@include file-icon(red, rgb(251, 252, 255));

		display: flex;
		align-items: center;
		justify-content: center;
	}
}
