@import "./mixins/folder-icon.scss";

:root {
	--folder-icon-border-radius: 3px;
}

.element.folder {
	&.editable {
		background-color: rgb(235, 240, 254);

		.name[contenteditable],
		.name[contenteditable="true"] {
			min-width: 2px;
		}
	}

	> *:not(.icons) {
		pointer-events: none;
	}

	&:hover,
	&.drag-hover {
		cursor: pointer;

		.folder-icon {
			@include folder-icon-opened(rgb(235, 240, 254), true);
		}
	}

	.folder-icon {
		@include folder-icon-open-on-hover(rgb(235, 240, 254), true);
	}
}
